<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>超管系统 - 用户管理系统</title>

    <link href="../../static/admins/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/admins/css/datepicker3.css" rel="stylesheet">
    <link href="../../static/admins/css/styles.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Lumino</span>Admin</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                            class="glyphicon glyphicon-user"></span> {{ user_name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/admins/logout/"><span class="glyphicon glyphicon-log-out"></span>登出</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li><a href="/admins/users_manager/"><span
                class="glyphicon glyphicon-tree-deciduous"></span>用户管理系统</a></li>
        <li><a href="/admins/users_disk_manager/"><span class="glyphicon glyphicon-tree-deciduous"></span>网盘管理系统</a></li>
        <li><a href="/admins/activity_manager/"><span class="glyphicon glyphicon-tree-deciduous"></span>活动管理系统</a></li>
        <li class="active"><a href="/admins/activity_manager_add/"><span class="glyphicon glyphicon-tree-deciduous"></span>活动发布系统</a></li>
        <li role="presentation" class="divider"></li>
    </ul>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">发布活动与公告</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">发布活动与公告</h1>
        </div>
    </div><!--/.row-->


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">发布活动与公告</div>
                <div class="panel-body">
                    <div>
                        <section>
                            <div class="form-group">
                                <label for="active_name">活动或公告标题</label>
                                <input type="text" class="form-control" id="active_name" name="active_name">
                            </div>
                            <div class="form-group">
                                <label for="active_content">活动或公告内容</label>
                                <input type="text" class="form-control" id="active_content" name="active_content">
                            </div>
                            <label for="active_type">发布类型</label>
                            <select class="form-group" name="active_type" id="active_type">
                                <option value="1">活动</option>
                                <option value="0">公告</option>
                            </select>
                            <div class="form-group">
                                <label for="active_end_time">结束时间:(格式为2020-08-08)</label>
                                <input type="text" class="form-control" id="active_end_time" name="active_end_time">
                            </div>
                            <button type="submit" class="btn btn-default" onclick="return AjaxSend();">发布</button>
                        </section>
                    </div>
                </div>
            </div>
        </div><!-- /.col-->
    </div><!-- /.row -->

</div><!--/.main-->

<script src="../../static/admins/js/jquery-1.11.1.min.js"></script>
<script src="../../static/admins/js/bootstrap.min.js"></script>
<script src="../../static/admins/js/chart.min.js"></script>
<script src="../../static/admins/js/chart-data.js"></script>
<script src="../../static/admins/js/easypiechart.js"></script>
<script src="../../static/admins/js/easypiechart-data.js"></script>
<script src="../../static/admins/js/bootstrap-datepicker.js"></script>
<script>


    function AjaxSend() {
        $.ajax({
            url: '/admins/activity_manager_add/',
            type: "POST",
            data: {
                "active_name":$("#active_name").val(),
                "active_content":$("#active_content").val(),
                "active_type":$("#active_type").val(),
                "active_end_time":$("#active_end_time").val(),
            },
            // 设置超时的时间XXs
            timeout: 30000,
            success: function (data) {
                //当服务端处理完成后，返回数据时，该函数自动调用
                // data代表服务器给我们返回的值
                // 可以使用 JavaScript进行html的内容修改展示内容，或者刷新界面
                console.log(data);
                // 登入成功
                if (data == "200") {
                    alert("添加成功......"); //弹出提示
                    location.reload()
                }
                ;
                // 失败
                if (data == "404") {
                    alert("添加失败，请假信息填充完整，或联系管理员......"); //弹出提示
                    location.reload()
                }
            },
            //调用出错执行的函数
            error: function () {
                //请求出错处理
                console.log("error");
            }
        })
    }
</script>
</body>

</html>
